html, body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
}
main {
    position: absolute;
    min-height: calc(100% - 16px);
    width: calc(100% - 16px);
    border-radius: 12px;
    background-color: gray;
    z-index: 0;
    top: 8px;
    left: 8px;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
header span {
    display: inline-block;
    width: 50px;
    height: 60px;
    background-color: #151515;
    margin: 5px;
    color: white;
    font-size: 60px;
    border-radius: 8px;
    line-height: 60px;
}
.leftmenu {
    position: absolute;
    height: calc(100% - 80px);
    width: 200px;
    top: 0px;
    left: 0px;
    background-color: #3E201E;
    z-index: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 80px;
}
.leftmenu button {
    display: block;
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #151515;
    border: none;
    border-radius: 6px;
    color: white;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
    font-variant: small-caps;
    font-family: 'Russo One', sans-serif;
    font-size: 14px;
}
.leftmenu button:hover {
    background-color: #1C1E1B;
    color: #D9CC5A;
}
.leftmenu button.completed {
    color: gray;
}
.leftmenu h2 {
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: white;
    font-size: 19px;
}
.content {
    position: absolute;
    width: calc(100% - 240px);
    height: calc(100% - 100px);
    right: 0px;
    top: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.scrollbox.main {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    overflow: auto;
}
.scrollbox.menu {
    position: absolute;
    width: calc(100%);
    height: calc(100% - 100px);
    overflow: auto;
}
.scrollbox::-webkit-scrollbar {
    width: 1em;
}
.scrollbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scrollbox::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.icons {
    font-family: 'SegoeMDL2Assets';
}
.resulttable {
    border-collapse: collapse;
}
.resulttable td {
    border: 1px solid black;
    padding: 8px;
}
.helyes td {
    background-color: lime;
}
.hibas td {
    background-color: darkorange;
}
.checkbutton {
    display: block;
    width: auto;
    margin: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #151515;
    border: none;
    border-radius: 6px;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    outline: none;
    font-variant: small-caps;
    font-family: 'Russo One', sans-serif;
    font-size: 14px;
}
.checkbutton:hover {
    background-color: #1C1E1B;
    color: #D9CC5A;
}
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid green;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#result {
    min-height: 500px;
}
code-spoiler {
    background-color: black;
    color: black;
}
code-spoiler:hover {
    background-color: transparent;
}